AZURE_SUBSCRIPTION_ID=
AZURE_LOCATION=uksouth
AZURE_WEB_LOCATION=westeurope
AZURE_RESOURCE_GROUP=
WEBSITE_HOSTNAME=
EMAIL_DOMAIN=
PLATFORM_ADMIN_EMAILS=
MAINTAINER_EMAIL=
EMAIL_DOMAIN_READY=false
REMINDER_API_KEY=
